h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p{
    margin: 0;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    font-family: "Montserrat";
    border: none;
    cursor: pointer;
    background-color: transparent;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
}

.container {
    max-width: 1440px;
    padding: 0 60px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
}

.header {
    flex: 0 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;

    &.active {
        background: #0C1417;
    }

    &__burger {
        display: none;

        &-block {
            display: none;

            &.active {
                display: flex;
                background: #0C1417;
            }
        }
    }

    &__logo {
        & img:nth-child(2) {
            display: none;
        }

        & img:nth-child(3) {
            display: none;
        }
    }

    &__row {
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        margin-top: 65px;
        gap: 48.67px;
        margin-left: 130px;
        margin-right: auto;

        &-item {
            font-weight: 600;
            font-size: 16px;
            text-align: center;
            color: #fff;
        }

        &-tel {
            margin-top: 65px;
        }

        &-adap {
            display: none;
            margin-top: 30px;
            gap: 48.67px;
            justify-content: center;
        }
    }
}

.footer {
    flex: 0 0 auto;
    background-color: #000000;

    &__burger {
        display: none;

        &-body.active {
            display: flex;
        }

        &-body {
            display: none;
        }
    }

    &__row {
        padding: 15px 0 50px 0;
    }

    &__logo {
        display: flex;
        flex-direction: column;

        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 157%;
            color: rgba(255, 255, 255, 0.7);
            gap: 15px;
            margin-bottom: 16px;
            display: flex;

            &320 {
                display: none;
            }
        }

        &-768 {
            display: none;
        }
    }

    &__nav {
        display: flex;
        gap: 65px;
        margin-top: 35px;
        margin-left: 72px;

        & ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & li {
                & a {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 171%;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }

    &__messenger {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 80px;
        margin-top: 35px;

        & span {
            font-weight: 400;
            font-size: 14px;
            line-height: 171%;
            color: rgba(255, 255, 255, 0.7);
        }

        &-svg {
            display: flex;
            gap: 15px;
            align-items: center;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin: 25px 0 0 auto;
        gap: 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        color: rgba(255, 255, 255, 0.7);

        &-tel {
            display: flex;
            gap: 2px;

            & a {
                font-weight: 400;
                font-size: 14px;
                line-height: 171%;
                color: rgba(255, 255, 255, 0.7);
            }
        }

        &.active {
            display: none;
        }

        & .footer__messenger {
            display: none;
        }
    }
}

.main {
    flex: 1 0 auto;  
    display: flex;
    flex-direction: column;
}

.head {
    text-align: center;
    background-image: url(../image/head.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &__row {
        padding-bottom: 61px;
        padding-top: 340px;
        flex-direction: column;
    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 106%;
        text-align: center;
        color: #fff;
        margin-bottom: 35px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 28px;
        text-align: center;
        color: #fff;
        margin-bottom: 35px;
    }

    &__button {
        position: relative;
        padding: 20px 33px 28px 43px;
        margin-bottom: 300px;
        max-width: 290px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        
        & span {
            font-weight: 700;
            font-size: 16px;
            line-height: 125%;
            text-align: center;
            color: #fff;
            position: relative;
        }

        &-orange {
            position: absolute;
            top: 8px;
            left: 0px;
        }

        &-white {
            position: absolute;
            top: 0px;
            left: 10px;
        }
    }

    &__arrow {
        margin-left: auto;
        margin-right: auto;
    }

    &__inst {
        position: absolute;
        right: 108px;
        bottom: 61px;
    }

    &__vk {
        position: absolute;
        right: 63px;
        bottom: 57px;
    }

    &__item {
        &-1 {
            position: absolute;
            top: 0px;
            right: 248px;
            z-index: 201;
        }

        &-2 {
            position: absolute;
            top: 0;
            z-index: 200;
            right: 202px;
        }

        &-3 {
            position: absolute;
            top: 492px;
            left: 0;
            z-index: 201;
        }

        &-4 {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 200;
        }

        &-5 {
            position: absolute;
            top: 655px;
            left: 0;
            z-index: 201;
        }
    }
}

.info {
    background: #0C1417;

    &__row {
        padding: 100px 74px;
    }

    &__img-1 {
        max-width: 307px;
        margin-right: 30px;
    }

    &__img-2 {
        max-width: 307px;
        margin-right: 76px;
        margin-top: 40px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 451px;
        margin-top: 72px;

        &-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 113%;
            color: #fff;
            margin-bottom: 50px;
        }

        &-subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 162%;
            color: #fff;
            margin-bottom: 40px;
        }

        &-button {
            position: relative;
            display: flex;
            padding: 20px 33px;
            box-sizing: border-box;
            max-width: 280px;

            & span {
                font-weight: 700;
                font-size: 16px;
                line-height: 125%;
                text-align: center;
                color: #fff;
            }

            & svg {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    
    & .footer__messenger {
        display: none;
    }
}

.svg {
    background: #0C1417;

    &__row {
        flex-direction: column;
    }

    &__line {
        height: 2px;
        width: 303px;
        background: #F7931E;
        margin-right: 0;
        margin-left: auto;
        display: flex;
    }

    &__items {
        display: flex;
        gap: 41px;
        padding: 4px 0 25px 0;
    }

    &__item {
        display: flex;
        gap: 25px;
        align-items: center;

        & span {
            font-weight: 500;
            font-size: 18px;
            line-height: 156%;
            color: #fff;
        }
    }
}

.gallery {
    background: #0C1417;
    position: relative;

    &__row {
        padding: 100px 0;
        flex-direction: column;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 113%;
        text-align: center;
        color: #fff;
        margin-bottom: 80px;
    }

    &__item-2 {
        position: absolute;
        z-index: 100;
        left: 0;
        bottom: 0;
    }

    &__item-1 {
        position: absolute;
        z-index: 101;
        left: 0;
        top: 911px;
    }
}

.season {
    position: relative;

    &__row {
        padding: 100px 97.5px;
        flex-direction: column;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 113%;
        text-align: center;
        color: #0C1417;
        display: flex;
        margin: 0 auto 80px auto;
    }

    &__first {
        display: flex;

        & li {
            margin-left: 105px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                color: #F7931E;
            }
        }

        &-item {
            font-weight: 700;
            font-size: 18px;
            line-height: 133%;
            text-align: center;
            color: #0C1417;
        }

        &-time {
            & li {
                &:first-child {
                    font-weight: 500;
                }

                &:nth-child(2) {
                    margin-left: 269px;
                }

                &:nth-child(3) {
                    margin-left: 113px;
                    color: #F7931E;
                }

                &:nth-child(4) {
                    margin-left: 110px;
                }

                &:nth-child(5) {
                    margin-left: 110px;
                }
            }
        }
    }

    &__line {
        width: 1125px;
        height: 1px;
        background: #0C1417;
        opacity: .5;
        margin-top: 15px;
        margin-bottom: 35px;
    }

    &__second {
        display: flex;
        padding: 0 0 40px 0;
        align-items: center;

        &-item {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #0C1417;
            max-width: 195px;
        }

        & li {
            &:first-child {
                max-width: 212px;
                font-weight: 700;
                text-align: start;
            }

            &:nth-child(2) {
                margin-left: 72px;
            }

            &:nth-child(3) {
                margin-left: 110px;
            }

            &:nth-child(4) {
                margin-left: 80px;
            }

            &:nth-child(5) {
                margin-left: 59px;
            }
        }

        &-orange {
            color: #F7931E;
        }

        &-weight {
            font-weight: 600;
        }

        &-line {
            width: 195px;
        }

        &-margin {
            margin-left: 155px !important;
        }

        &-time {
            & li {
                &:first-child {
                    max-width: 232px;
                    font-weight: 700;
                    text-align: start;
                    color: #F7931E;
                }

                &:nth-child(2) {
                    margin-left: 119px;
                }

                &:nth-child(3) {
                    margin-left: 96px;
                    font-weight: 600;
                }

                &:nth-child(4) {
                    margin-left: 160px;
                }

                &:nth-child(5) {
                    margin-left: 150px;
                }
            }
        }

        &-time2 {
            & li {
                &:first-child {
                    max-width: 191px;
                    font-weight: 700;
                    color: #0C1417;
                    text-align: start;
                }

                &:nth-child(2) {
                    margin-left: 237px;
                }

                &:nth-child(3) {
                    margin-left: 177px;
                }

                &:nth-child(4) {
                    margin-left: 170px;
                }

                &:nth-child(5) {
                    margin-left: 150px;
                }
            }
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
        color: #0C1417;
        margin-top: 50px;
        margin-bottom: 80px;
    }

    &__item {
        &-1 {
            position: absolute;
            top: 336px;
            right: 155px;
        }

        &-2 {
            position: absolute;
            top: 901px;
            right: 566px;
        }

        &-3 {
            position: absolute;
            top: 324px;
            right: 0;
            z-index: 201;
        }

        &-4 {
            position: absolute;
            top: 409px;
            right: 0px;
        }

        &-5 {
            position: absolute;
            top: 545px;
            right: 0px;
        }

        &-6 {
            position: absolute;
            left: 0;
            z-index: 201;
            top: 841px;
        }

        &-7 {
            position: absolute;
            left: 0;
            top: 876px;
        }
    }
    
    &__train {
        display: flex;
        gap: 30px;
        justify-content: center;

        &-card {
            padding: 30px 20.5px;
            box-sizing: border-box;
            box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.08);
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #0C1417;
            max-width: 267px;
            margin-bottom: 20px;
        }

        &-svg {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 19px;
        }

        &-price {
            font-weight: 700;
            font-size: 24px;
            line-height: 125%;
            text-align: center;
            color: #0C1417;
            margin-bottom: 15px;
        }

        &-content {
            font-weight: 400;
            font-size: 15px;
            line-height: 133%;
            text-align: center;
            color: rgba(12, 20, 23, 0.5);
            margin-bottom: 30px;
            max-width: 213px;
        }

        &-content3 {
            margin-bottom: 10px;
        }
        
        &-button {
            display: flex;
            position: relative;
            padding: 15px 80.5px;
            box-sizing: border-box;

            & svg {
                position: absolute;
                left: 0;
                top: 0;
            }

            & span {
                font-weight: 700;
                font-size: 16px;
                line-height: 125%;
                text-align: center;
                color: #F7931E;
            }
        }
    }
}

.number {
    background-image: url(../image/number__fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__row {
        padding: 111px 113px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: 0;
        max-width: 351px;
        width: 100%;

        &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 125%;
            text-align: center;
            color: #fff;
            margin-bottom: 25px;
        }

        &-subtitle {
            font-weight: 500;
            font-size: 18px;
            line-height: 133%;
            text-align: center;
            color: #fff;
            margin-bottom: 15px;

            & span {
                color: #F7931E;
            }
        }

        &-form {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 30px;

            & input {
                background: transparent;
                border: none;
                border-bottom: 1px solid #fff;
                padding: 15px 0;
                box-sizing: border-box;
                min-height: 51px;

                &:focus {
                    outline: none;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 133%;
                    color: rgba(255, 255, 255, 0.5);
                    font-family: "Montserrat";
                }
            }
        }

        &-button {
            display: flex;
            position: relative;
            padding: 20px 33px;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;

            & svg {
                position: absolute;
                left: 0;
                top: 0;
            }

            & span {
                font-weight: 700;
                font-size: 16px;
                line-height: 125%;
                text-align: center;
                position: relative;
                color: #fff;
            }
        }

        &-agree {
            max-width: 280px;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.contact {
    position: relative;

    & iframe {
        max-width: 100%;
        width: 1920px;
    }

    &__content {
        padding: 50px 35px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 59px;
        left: 176px;
        background-color: #0C1417;
        z-index: 1;

        &-title {
            font-weight: 700;
            font-size: 30px;
            line-height: 113%;
            color: #fff;
            margin-bottom: 50px;
        }

        &-item {
            display: flex;
            gap: 16px;
            margin-bottom: 25px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #fff;
        }

        &-tel a {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #fff;
            display: flex;
            flex-direction: column;
        }
        
        &-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #fff;
            margin-top: 15px;
            margin-bottom: 24px;
        }

        &-messenger {
            display: flex;
            gap: 15px;
            align-items: center;
        }
    }
}

.trainer {
    background: #0C1417;
    position: relative;

    & .swiper-scrollbar {
        display: none;
    }

    & .swiper-wrapper {
        justify-content: start;
    }

    & .swiper-slide {
        max-width: 307px;
        flex-direction: column;
        background: none;
        align-items: start;
        text-align: start;
        margin-bottom: 74px;
    }

    & .swiper-button-next {
        position: absolute;
        right: 616px;
        left: auto;
        bottom: 0px;
        top: auto;
        display: block;
        color: #fff;
    }

    & .swiper-button-prev {
        position: absolute;
        right: 682px;
        left: auto;
        bottom: 0px;
        top: auto;
        display: block;
        color: #fff;
    }

    &__row {
        padding: 100px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 113%;
        text-align: center;
        color: #fff;
        margin-top: 207px;
        margin-right: 74px;
    }

    &__img {
        max-width: 307px;
    }

    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    &__info {
        font-weight: 400;
        font-size: 15px;
        line-height: 133%;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 10px;
    }

    &__item {
        &-1 {
            position: absolute;
            top: 20px;
            left: 0;
            z-index: 201;
        }

        &-2 {
            position: absolute;
            top: 47px;
            left: 0;
        }
    }
}






.swiper {
    width: 100%;
    height: 100%;
    z-index: 500;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 267px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-scrollbar-drag {
    width: 200px !important;
    height: 10px; 
    background: #F7931E; 
    border: none; 
    position: absolute;
    border-radius: 0;
    top: -3px;
    margin-left: 52px;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    width: 1000px;
    height: 4px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 33px;
    margin-bottom: 3px;
}

.swiper-button-prev {
    left: 0;
    color: #fff;
}

.swiper-button-next {
    right: 0;
    color: #F7931E;
}

.slider-2 {
    max-width: 362px;
}

.swiperGallery1 {
    margin-bottom: 60px;
    padding: 0px 66.5px;
    box-sizing: border-box;

    & .swiper-wrapper {
        overflow: hidden;
    }
}

.swiperGallery2 {
    padding: 0px 77.5px;
    box-sizing: border-box;

    & .swiper-wrapper {
        overflow: hidden;
    }
}






::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat";
}
:-moz-placeholder { 
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat";
}
::-moz-placeholder { 
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat";
}
:-ms-input-placeholder { 
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat";
}




@media (max-width:1439px) and (min-width:768px) {
    .container {
        max-width: 768px;
        padding: 0 15px;
    }

    .header {
        &__logo {
            & img:first-child {
                display: none;
            }

            & img:nth-child(2) {
                display: block;
            }
        }

        &__menu-tel {
            margin-top: 43.5px;
        }

        &__menu {
            display: none;

            &-adap {
                display: flex;
            }
        }
    }

    .head {
        &__item {
            &-1 {
                right: 218px;
                width: 111px;
                height: 68px;
            }

            &-2 {
                right: 224px;
                width: 118px;
                height: 93px;
            }

            &-3 {
                width: 165px;
                height: 216px;
                top: 586px;
            }

            &-4 {
                width: 250px;
                height: 322px;
                top: 632px;
            }

            &-5 {
                width: 129px;
                height: 192px;
                top: 720px;
            }
        }

        &__row {
            padding-top: 355px;
        }

        &__title {
            font-size: 58px;
            line-height: 117%;
        }

        &__button {
            margin-bottom: 285px;
        }

        &__inst {
            right: 60px;
        }

        &__vk {
            right: 15px;
        }
    }

    .info {
        &__row {
            flex-wrap: wrap;
            padding: 0 0 90px 0;
        }

        &__content {
            order: -1;
            margin-bottom: 60px;
            align-items: center;
            text-align: center;
            max-width: max-content;
        }

        &__img-1 {
            margin-right: 30px;
            max-width: 354px;
            margin-top: 0;
        }

        &__img-2 {
            margin-right: 0;
            max-width: 354px;
            margin-top: 0;
        }
    }

    .svg {
        &__line {
            display: none;
        }

        &__items {
            flex-wrap: wrap;
            padding: 0;
            justify-content: space-between;
            gap: 0;
        }

        &__item {
            gap: 15px;
            flex-direction: column;
            text-align: center;

            &:first-child {
                order: -1;
                margin-bottom: 60px;
            }

            &:nth-child(2) {
                order: -1;
            }
        }

        &__row {
            padding: 0 72px;
        }
    }

    .gallery {
        &__row {
            padding: 90px 0;
        }

        &__title {
            margin-bottom: 60px;
        }

        & .swiper-button-prev {
            display: none;
        }

        & .swiper-button-next {
            display: none;
        }

        & .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
            width: 482px;
        }

        & .swiper-scrollbar-drag {
            width: 102px !important;
        }

        & .swiper-wrapper {
            justify-content: start;
        }

        & .swiper-slide {
            max-width: 306px;
        }

        & .slider-2 {
            max-width: 422px;
        }

        &__item-1 {
            top: 977px;
        }
    }

    .season {
        overflow: hidden;

        &__row {
            padding: 90px 0;
        }

        &__item {
            &-1 {
                display: none;
            }

            &-2 {
                display: none;
            }

            &-3 {
                width: 68px;
                height: 160px;
                top: 480px;
            }

            &-4 {
                width: 68px;
                height: 137px;
                top: 524px;
            }

            &-5 {
                width: 25px;
                height: 56px;
                top: 595px;
            }

            &-6 {
                width: 131px;
                height: 247px;
                top: 829px;
            }

            &-7 {
                width: 85px;
                height: 198px;
                top: 857px;
            }
        }

        &__title {
            margin-bottom: 60px;
        }

        &__first {
            & li {
                margin-left: 34px;
                white-space: nowrap;

                &:first-child {
                    margin-left: 0;
                }

                &:nth-child(2) {
                    margin-left: 15px;
                }

                &:last-child {
                    color: #0C1417;
                }
            }

            &-time {
                & li {
                    &:nth-child(2) {
                        margin-left: 145px;
                    }
    
                    &:nth-child(3) {
                        margin-left: 45px;
                        color: #0C1417
                    }
    
                    &:nth-child(4) {
                        margin-left: 45px;
                    }
    
                    &:nth-child(5) {
                        margin-left: 45px;
                    }
                }
            }
        }

        &__line {
            width: 100vw;
            position: relative;
            left: 50%;
            margin: 20px 0 20px -50vw;
        }
        
        &__second {
            padding: 0 0 20px 0;

            & li {
                &:first-child {
                    max-width: 160px;
                    margin-left: 0;
                    width: 100%; 
                }

                &:nth-child(2) {
                    margin-left: 15px;
                    max-width: 150px;
                    width: 100%; 
                }

                &:nth-child(3) {
                    margin-left: 20px;
                    max-width: 150px;
                    width: 100%; 
                }

                &:nth-child(4) {
                    margin-left: 20px;
                    max-width: 150px;
                    width: 100%; 
                }

                &:nth-child(5) {
                    margin-left: 20px;
                    max-width: 70px;
                    white-space: nowrap;
                }
            }

            &-orange {
                color: #0C1417;
            }

            &-weight {
                font-weight: 400;
            }

            &-margin {
                margin-left: 15px !important;
            }

            &-time {
                & li {
                    &:first-child {
                        max-width: 226px;
                        color: #0C1417;
                    }

                    &:nth-child(2) {
                        margin-left: 15px;
                        max-width: 115px;
                    }

                    &:nth-child(3) {
                        margin-left: 25px;
                        font-weight: 400;
                        max-width: 115px;
                    }

                    &:nth-child(4) {
                        margin-left: 25px;
                        max-width: 115px;
                    }

                    &:nth-child(5) {
                        margin-left: 50px;
                        max-width: 115px;
                    }
                }
            }

            &-time2 {
                & li {
                    &:nth-child(1) {
                        max-width: 225px;
                    }

                    &:nth-child(2) {
                        margin-left: 15px;
                        max-width: 115px;
                    }

                    &:nth-child(3) {
                        margin-left: 25px;
                        max-width: 115px;
                    }

                    &:nth-child(4) {
                        margin-left: 25px;
                        max-width: 115px;
                    }

                    &:nth-child(5) {
                        margin-left: 50px;
                        max-width: 115px;
                    }
                }
            }
        }

        &__subtitle {
            margin: 60px 0;
        }

        &__train {
            &-card {
                padding: 30px 15px;
                min-width: 225px;
            }

            &-title {
                max-width: 195px;
                margin-bottom: 37px;
            }

            &-content {
                max-width: 150px;
                margin-bottom: 15px;
            }

            &-content3 {
                margin-bottom: 0;
            }

            &-button {
                padding: 15px 48px;

                & svg {
                    width: 156px;
                }
            }

            &-block {
                display: flex;
                flex-direction: row-reverse;
                gap: 25px;
                align-items: center;
                margin-bottom: 38px;

                & .season__train-content {
                    margin-bottom: 0;
                }
            }

            &-svg {
                margin-bottom: 0;
            }
        }
    }

    .trainer {
        &__row {
            padding: 90px 0;
            flex-direction: column;
        }

        & .swiper-button-next {
            display: none;
        }

        & .swiper-button-prev {
            display: none;
        }

        &__title {
            margin: 0 0 60px 0;
        }
    }

    .number {
        background-image: url(../image/number__fon-768.jpg);

        &__row {
            padding: 99px 0 118px 0;
            justify-content: end;
        }
    }

    .contact {
        &__content {
            left: 15px;
            padding: 50px 24px;

            &-title {
                margin-bottom: 55px;
            }

            &-item {
                margin-bottom: 30px;
            }

            &-text {
                margin-bottom: 20px;
                margin-top: 0;
            }
        }
    }

    .footer {
        &__row {
            padding: 50px 0;
        }

        &__logo {
            & img:first-child {
                display: none;
            }

            &-768 {
                display: block;
                height: auto;
                max-width: 174px;
                margin-bottom: 31px;
            }
        }

        &__nav {
            flex-direction: column;
            gap: 0;
            max-width: 174px;
            margin-top: 0;
            margin-left: 59px;

            & ul {
                gap: 0;

                &:nth-child(2) {
                    order: 1;
                }
            }

            &-768 {
                display: none;
            }
        }

        &__messenger {
            display: none;
        }

        &__info {
            gap: 10px;
            align-items: end;
            margin-top: 0;

            & .footer__messenger {
                display: flex;
                align-items: end;
                gap: 5px;
                margin-top: 0;
            }
        }
    }
} 

@media (max-width:767px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }

    .header {
        &__row {
            align-items: center;
            padding: 30px 0;
        }

        &__logo {
            & img:first-child {
                display: none;
            }

            & img:nth-child(3) {
                display: block;
            }
        }

        &__menu {
            display: none;
        }

        &__menu-tel {
            display: none;
        }

        &__burger {
            display: flex;

            &-block {
                width: 100vw;
                position: absolute;
                top: 104px;
                left: 0;
                padding: 0 15px 30px 15px;
                justify-content: space-between;
                box-sizing: border-box;
            }

            &-ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
                text-align: center;
            }

            &-text {
                font-weight: 600;
                font-size: 14px;
                text-align: center;
                color: #fff;
            }
        }
    }

    .head {
        &__item {
            &-1 {
                right: 91px;
                width: 83px;
                height: 56px;
            }

            &-2 {
                right: 96px;
                width: 87px;
                height: 75px;
            }

            &-3 {
                width: 74px;
                height: 134px;
                top: 572px;
            }

            &-4 {
                width: 126px;
                height: 200px;
                top: 600px;
            }

            &-5 {
                width: 52px;
                height: 119px;
                top: 655px;
            }
        }

        &__title {
            font-size: 48px;
            line-height: 142%;
            max-width: 100%;
            margin-bottom: 23px;
        }

        &__subtitle {
            font-size: 20px;
            margin-bottom: 40px;
        }

        &__row {
            padding-top: 221px;
            align-items: center;
        }

        &__button {
            margin-bottom: 150px;
        }

        &__inst {
            right: 60px;
            bottom: 54px;
        }

        &__vk {
            right: 15px;
            bottom: 50px;
        }
    }

    .info {
        &__row {
            flex-wrap: wrap;
            padding: 0 0 80px 0;
            flex-direction: column;
            align-items: center;
        }

        &__content {
            order: -1;
            margin-bottom: 40px;
            align-items: center;
            text-align: center;
            max-width: max-content;
            margin-top: 89px;

            &-title {
                font-size: 25px;
                line-height: 136%;
                margin-bottom: 60px;
            }

            &-subtitle {
                text-align: start;
            }
        }

        &__img-1 {
            margin-right: 0px;
            max-width: 290px;
            margin-top: 0;
        }

        &__img-2 {
            margin-right: 0;
            max-width: 290px;
            margin-top: 30px;
        }
    }

    .svg {
        &__line {
            display: none;
        }

        &__items {
            flex-wrap: wrap;
            padding: 0;
            justify-content: center;
            gap: 0;
            flex-direction: column;
        }

        &__item {
            gap: 15px;
            flex-direction: column;
            text-align: center;

            &:first-child {
                order: -3;
                margin-bottom: 60px;
            }

            &:nth-child(2) {
                order: -1;
                margin-bottom: 60px;
            }

            &:nth-child(3) {
                order: -2;
                margin-bottom: 60px;
            }
        }

        &__row {
            padding: 0 29px;
        }
    }

    .gallery {
        &__row {
            padding: 90px 0 80px 0;
        }

        &__title {
            margin-bottom: 60px;
        }

        & .swiper-button-prev {
            display: none;
        }

        & .swiper-button-next {
            display: none;
        }

        & .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
            width: 100%;
        }

        & .swiper-scrollbar-drag {
            width: 102px !important;
        }

        & .swiper-wrapper {
            justify-content: start;
        }

        & .swiper-slide {
            max-width: 200px;
        }

        & .slider-2 {
            max-width: 225px;
        }

        .swiperGallery1 {
            margin-bottom: 45px;
        }

        &__item-1 {
            top: 754px;
            width: 32px;
            height: 106px;
            stroke-width: 1px;
            stroke: #fff;
        }

        &__item-2 {
            width: 67px;
            height: 201px;
            bottom: -44px;
        }
    }

    .trainer {
        &__row {
            flex-direction: column;
            padding: 80px 0;
        }

        &__img {
            max-width: 250px;
        }

        &__title {
            margin: 0 0 60px 0;
        }

        &__item-1 {
            width: 66px;
            height: 128px;
            top: 95px;
        }

        &__item-2 {
            width: 98px;
            height: 136px;
            top: 114px;
        }

        & .swiper-button-next {
            display: none;
        }

        & .swiper-button-prev {
            display: none;
        }
    }

    .number {
        &__row {
            padding: 80px 0;
        }

        &__content {
            &-title {
                font-size: 20px;
                line-height: 150%;
                margin-bottom: 30px;
            }
            
            &-subtitle {
                font-size: 16px;
                line-height: 150%;
                margin-bottom: 30px;
            }
        }
    }

    .contact {
        & iframe {
            max-height: 235px;
        }

        &__content {
            padding: 50px 15px;
            position: relative;
            top: 0;
            left: 0;

            &-title {
                font-size: 25px;
                line-height: 136%;
                margin-bottom: 55px;
                display: flex;
                margin-left: auto;
                margin-right: auto;
            }

            &-item {
                font-size: 14px;
                line-height: 171%;
                margin-bottom: 30px;
            }

            &-tel a {
                font-size: 14px;
                line-height: 171%;
            }

            &-text {
                margin-top: 0;
                margin-bottom: 20px;
                font-size: 14px;
                line-height: 171%;
            }
        }
    }

    .footer {
        &__row {
            flex-direction: column;
            padding: 50px 0;
        }

        &__nav {
            display: none;
        }

        &__messenger {
            display: none;
        }

        &__info {
            margin: 0;
            gap: 10px;

            & .footer__messenger {
                display: flex;
                margin-top: 0;
                margin-left: 0;
                gap: 5px;
                margin-bottom: 30px;
            }
        }

        &__logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-bottom: 30px;

            & img:first-child {
                display: none;
            }

            &-768 {
                display: block;
                max-width: 130px;
            }

            &-text {
                display: none;

                &320 {
                    display: flex;
                }
            }
        }

        &__burger {
            display: flex;

            &-body {
                width: 100%;
                margin-top: 30px;
                display: none;
                margin-bottom: 50px;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            &-text {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
            }
        }
    }

    .season {
        &__row {
            padding: 80px 0;
        }

        .season__title {
            display: none;
        }

        & nav {
            display: none;
        }

        &__subtitle {
            display: none;

            &-320 {
                display: flex;
                font-size: 20px;
                line-height: 150%;
                margin-bottom: 45px;
                margin-top: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__item {
            &-1 {
                display: none;
            }

            &-2 {
                display: none;
            }

            &-3 {
                display: none;
            }

            &-4 {
                display: none;
            }

            &-5 {
                display: none;
            }

            &-7 {
                display: none;
            }

            &-6 {
                display: none;
            }
        }

        &__train {
            flex-direction: column;

            &-title {
                max-width: 210px;
            }

            &-block {
                display: flex;
                flex-direction: row-reverse;
                gap: 25px;
                align-items: center;
                margin-bottom: 38px;

                & .season__train-content {
                    margin-bottom: 0;
                }
            }

            &-svg {
                margin-bottom: 0;
            }

            &-gap {
                gap: 15px;
            }

            &-content3 {
                max-width: 150px;
            }
        }
    }
}

